@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --clr-body: hsl(212, 45%, 89%);

    --clr-card-bg: hsl(0, 0%, 100%);
    --clr-card-title: hsl(218, 44%, 22%);
    --clr-card-text: hsl(220, 15%, 55%);

    --ff-base: 'Outfit', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-body);
    min-height: 100vh;
    display: grid;
    place-items: center;
    line-height: 1.6;
    font-family: var(--ff-base);
    font-weight: 400;
}

/* Utilitary classes */
.rounded {
    border-radius: 1rem;
}

.card {
    --content-padding: 1rem;
    --content-gap: 1rem;

    display: flex;
    flex-direction: column;
    gap: var(--content-gap);
    background-color: var(--clr-card-bg);
    text-align: center;
    max-width: calc(100vh / 3);
    padding: var(--content-padding);
    padding-bottom: calc(var(--content-padding) * 2);
}

.card__title {
    color: var(--clr-card-title);
    font-size: 24px;
    font-weight: 700;
}

.card__description {
    color: var(--clr-card-text);
    font-size: 15px;
}